:root {
  --grid-border: 5px solid black
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  justify-content: center;
}

.gameBoard {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  margin: 50px;
  padding: 10px;
}

.tile {
  display: grid;
  font-weight: bold;
  font-size: 30px;
  align-content: center;
  cursor: pointer;
}

.tile.centerRow {
  border-top: var(--grid-border);
  border-bottom: var(--grid-border);
}

.tile.centerCol {
  border-left: var(--grid-border);
  border-right: var(--grid-border);
}

.choiceButton {
  border: 3px solid green;
  border-radius: 20px;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
}

#optionsBar {
  display: flex;
  justify-content: space-around;
}
